{% extends 'base.html' %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}


{% block extra_style %}
<!-- Bootstrap Dropify CSS -->
<link href={% static "vendors/bower_components/dropify/dist/css/dropify.min.css" %} rel="stylesheet" type="text/css"/>
{% endblock extra_style %}

{% block custom_style %}
<style>
	label {
		color: #212121;
	}
	.text-muted {
		color: #f1a1c7;
	}
</style>
{% endblock custom_style %}

{% block head_js %}{% endblock head_js %}

{% block main %}
<!-- Row -->
<div class="table-struct full-width">
	<div class="table-cell vertical-align-middle auth-form-wrap">
		<div class="auth-form ml-auto mr-auto no-float">
			<div class="row">

				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}	
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{{error}} 
				</div>
				{% endfor %}
				{% endif %}

				<div class="col-sm-12 col-xs-12">
					<div class="mb-30">
						<h3 class="text-center txt-pink mb-10">Register in to Pega</h3>
						<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
					</div>	
					<div class="form-wrap">
						<form method="post">
							{% csrf_token %}
							{{form|crispy}}

							<script>
								document.getElementById("id_username").setAttribute("class", "form-control");
								document.getElementById("id_username").setAttribute("placeholder", "Enter username");

								document.getElementById("id_email").setAttribute("class", "form-control");
								document.getElementById("id_email").setAttribute("placeholder", "Enter email");

								document.getElementById("id_password1").setAttribute("class", "form-control");
								document.getElementById("id_password1").setAttribute("placeholder", "Enter pwd");

								document.getElementById("id_password2").setAttribute("class", "form-control");
								document.getElementById("id_password2").setAttribute("placeholder", "Re enter pwd");
							</script>
							
							<div class="form-group text-center">
								<button type="submit" class="btn btn-info btn-success btn-rounded">Register</button>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- /Row -->
{% endblock main %}

{% block extra_js %}
<!-- Fancy Dropdown JS -->
<script src={% static "dist/js/dropdown-bootstrap-extended.js" %}></script>

<!-- Progressbar Animation JavaScript -->
<script src={% static "vendors/bower_components/waypoints/lib/jquery.waypoints.min.js" %}></script>
<script src={% static "vendors/bower_components/jquery.counterup/jquery.counterup.min.js" %}></script>

<!-- Owl JavaScript -->
<script src={% static "vendors/bower_components/owl.carousel/dist/owl.carousel.min.js" %}></script>

<!-- Slimscroll JavaScript -->
<script src={% static "dist/js/jquery.slimscroll.js" %}></script>

<!-- Bootstrap Daterangepicker JavaScript -->
<script src={% static "vendors/bower_components/dropify/dist/js/dropify.min.js" %}></script>

<!-- Form Flie Upload Data JavaScript -->
<script src={% static "dist/js/form-file-upload-data.js" %}></script>
{% endblock extra_js %}

{% block body_js %}{% endblock body_js %}
